@font-face {
    font-family: 'FF Shamel Family Sans One';
    src: url('../fonts/FFShamelFamily-SansOneBold.woff2') format('woff2'),
        url('../fonts/FFShamelFamily-SansOneBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FF Shamel Family Sans One Book';
    src: url('../fonts/FFShamelFamily-SansOneBook.woff2') format('woff2'),
        url('../fonts/FFShamelFamily-SansOneBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

