.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    li {
        padding: 10px 15px 0;
        color:$primary-color;
        border-radius: 5px;

        .list_icon {
            margin-left: 15px;
        }

        &:hover {
            background-color: $primary-color-light;
        }
    }
}