//bg 
.bg-blue-gray {
    background-color: $primary-color-light;
  }

.bg-primary-color-darkblue-5{
  background-color: $primary-color-darkblue-5;
}
.bg-primary-color-darkblue-10{
  background-color: $primary-color-darkblue-10;
}

.icons {
  width: 57px;
  height: 57px;
}

.icons-sm {
  width: 38px;
  height: 38px;
}

.btn-search {
  background-color: $primary-color-light;
  border-color: $primary-color-light;
  width: 58px;
  height: 58px;
  &:hover,
  &:focus,
  &:active {
    background-color: darken($primary-color-light, 5%);
    border-color: $primary-color-light;
  }
}

.btn-new-demand {
  background-color: $primary-color-darkblue-10;
  border-color: $primary-color-darkblue-10;
  color: $primary-color-darkblue;
  border-radius: 25px;
  padding: 7px 16px;
  &:hover,
  &:focus,
  &:active {
    background-color: $primary-color-darkblue-20;
    border-color: $primary-color-darkblue-20;
  }
}

.link {
  text-decoration: none;
  color: $secondary-aqua;
}

.aqua-circle {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: rgba(56, 192, 240, 0.3);
  font-size: 34px;
  padding-top: 35px;
}
.icon-rounded {
  background-color: #dee9ee;
  border-color: #dee9ee;
  width: 52px;
  height: 52px;
  text-align: center;
  border-radius: 50%;
}
.two-factor {
  width: 240px;
  margin: 0 auto;
}

.border-secondary-aqua {
  border:0;
  border-right: 8px solid $secondary-aqua;
}

.border-secondary-dark {
  border:0;
  border-right: 8px solid #35424A;
}

.border-primary-blue {
  border:0;
  border-right: 8px solid #80A6B8
  ;
}

.border-primary-dark-blue {
  border:0;
  border-right: 8px solid #004D71
  ;
}

.border-right-success {
  border:0;
  border-right: 8px solid #4BC863;
}

.border-right-error {
  border:0;
  border-right: 8px solid #ED374C;
}

.border-right-yellow {
  border:0;
  border-right: 8px solid #FFC91F;
}

label {
  font-size: 14px;
  color: #42535C;
}

.invalid-feedback {
  color:#ED374C;
  font-size: 12px;
}

.invalid-input {
  border-color: #ED374C;
  &:focus {
    border-color: #ED374C;
    box-shadow: 0 0 0 0.25rem rgba(#ED374C,.25);
  }
}

.form-select {
  background-position: left 0.75rem center;
  padding: 1.1rem 1.1rem  0.75rem 2.25rem;
}

.form-calendar {
  background-position: left 0.75rem center;
  appearance: none;
  background-image: url('../images/svg/date.svg');
  background-repeat: no-repeat;
}

.form-location {
  background-position: left 0.75rem center;
  appearance: none;
  background-image: url('../images/svg/map.svg');
  background-repeat: no-repeat;
}

.btn-collapse {
  background-color: $primary-color-light;
  border-color: $primary-color-light;
  width: 47px;
  height: 41px;
  &:hover,
  &:focus,
  &:active {
    background-color: darken($primary-color-light, 5%);
    border-color: $primary-color-light;
  }
  img {
    width: 18px;
    height: 17px;
  }
}


.border-blue-gray {
  border: 1px solid #DEE9EE;
}

.download-item {
  padding: 16px 16px 16px 35px;
  background-position: left 0.75rem center;
  border-radius: 5px;
  appearance: none;
  background-image: url('../images/svg/document-download.svg');
  background-repeat: no-repeat;
}


.d-sm-none {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
// header titles 
.title-type-2 {
  text-align: right;
  font-size: 18px;
  font-weight: 500;
}
// user search
.user-search {
  background-color: white;
  border-radius: 12px;
  width: 264px;
  height: 47px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0 1em;
    input {
      border: 0;
      background-color: transparent;
      height: 40px;
    }
}