.border-color-light {
    border-color: #DEE9EE;
}

.paragraph {
    line-height: 28.45px;
    color:#42535CB2;
    opacity: 0.7;
}

.download-card {
    background-color: #F6F6F6;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 14px;
    p{
        color:#7A939E;
        font-size: 13px;
    }
}

.text-success {
    color:#41A757 !important;
}